@using ABMWeb.Models
@model List<MainPage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-4">
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Update </th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td> @x.Id </td>
        <td> @x.Name </td>
        <td><a href="/Admin/GetMainPage/@x.Id" class="btn btn-primary"> Update </a></td>
    </tr>
    }
</table>
