<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-image: url('../images/perfect_wp_ny.jpg')">
    <div>
        @RenderBody()
    </div>

    <footer>
        @RenderSection("footer", true)
    </footer>
</body>
</html>
